//color variable 

$primary: #05445E;
$danger: #ff0000;
$black: #000000;
$white: #ffffff;
$color_dd: #dddddd;
$color_99: #999999;
$color_f8: #f8f8f8;
$yellow:#ffffff;
$black: #292929;
$bg: #191919;
$lines: #757474;
$cursor: pointer;
$backgroundColor: #e5eef3;
$buttonColor: #ffffff;
$textColor: #000000;
$hoverColor: #fff;
$facebook: #3B5998;
$twitter: #61c5ec;
$google: #ea4335;
$github: #000000;
