@import "./variable";
@import "./shimmer";
@import "./font";
@import "./mixin";

iframe {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Mukta", sans-serif;

}

// headeing css
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

.my-navbar {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #ececee;
  background-color: #0c0d13;
  // background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100vh;
  width: 100%;

  .logo {
    position: absolute;
    top: 60px;
    left: 50px;
    display: block;
    z-index: 11;
    transition: all 250ms linear;

    @include for-size(lg) {
      left: 30px;
    }

    img {
      height: 26px;
      width: auto;
      display: block;
    }
  }

  .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 7vw;
      line-height: 1.2;
      color: #ffffff;
      text-align: center;
      -webkit-text-stroke: 2px #ffffff;
      text-stroke: 2px #ffffff;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: transparent;

      @include for-size(lg) {
        font-size: 7vw;
        -webkit-text-stroke: 2px #ffffff;
        text-stroke: 2px #ffffff;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        color: transparent;
      }
    }
  }


}

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);

  @include for-size(lg) {
    right: 30px;
  }

  ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;

    li {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      margin: 10px 0;
      text-align: center;
      list-style: none;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      transition: all 250ms linear;

      &:nth-child(1) {
        transition-delay: 200ms;
      }

      &:nth-child(2) {
        transition-delay: 150ms;
      }

      &:nth-child(3) {
        transition-delay: 100ms;
      }

      &:nth-child(4) {
        transition-delay: 50ms;
      }

      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 9vh;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 800;
        display: inline-block;
        position: relative;
        color: #ececee;
        transition: all 250ms linear;

        &:hover {
          text-decoration: none;
          color: #ffeba7;
        }

        &:after {
          display: block;
          position: absolute;
          top: 50%;
          content: '';
          height: 2vh;
          margin-top: -1vh;
          width: 0;
          left: 0;
          background-color: #353746;
          opacity: 0.8;
          transition: width 250ms linear;
        }

        &:hover:after {
          width: 100%;
        }

        @include for-size(sm) {
          font-size: 5vh;
        }
      }
    }
  }
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease,
    right 100ms 1750ms ease,
    margin-top 100ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
    right 100ms ease,
    margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}



@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked~.nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked~.nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
    transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}

@media screen and (max-width: 991px) {

  .menu-icon:checked+label,
  .menu-icon:not(:checked)+label {
    right: 55px;
  }

}

// navbar css close here 

// About me css 
.text {
  opacity: 0;
  // position: absolute;
  z-index: 7;
  // text-align: left;
  // margin: -50px 0 0 -150px;
  width: 100%;
  // height: 100vh;
  // top: 50%;
  bottom: 50%;
  left: 50%;
  // font-size: 48px;
  font-weight: 700;

  @include for-size(md) {
    text-align: center;
  }

  p:nth-child(2) {
    @include animation('type2 .5s steps(60, end) 3.7s');
  }

  @include animation('on .6s ease-in-out 3.7s forwards');

  button {
    border: 0;
    opacity: 0;
    background: $bg;
    color: $yellow;
    border: 1px solid $bg;
    letter-spacing: 2px;
    padding: .5rem 2.5rem;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    @include transition(color .5s, background-color .5s);
    @include animation('on .6s ease-in-out 4s forwards');

    &:hover {
      background: $yellow;
      color: $bg;
      border: 1px solid $bg;
    }
  }
}

.splash {
  background-color: #1f2029;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  &_logo {
    position: absolute;
    margin: -15px 0 0 -25px;
    top: 50vh;
    z-index: 5;
    left: 50vw;
    width: 50px;
    text-align: center;
    height: 30px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    opacity: 1;
    will-change: opacity;
    @include animation('logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards');

    &:before {
      display: block;
      position: absolute;
      left: 15px;
      bottom: -5px;
      width: 20px;
      height: 1px;
      background-color: $lines;
      content: "";
    }

    &:after {
      display: block;
      position: absolute;
      left: 15px;
      top: -5px;
      width: 20px;
      height: 1px;
      background-color: $lines;
      content: "";
      will-change: width;
    }
  }

  &_svg {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;

    svg {
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;

      rect {
        width: 100%;
        height: 100%;
        fill: $yellow;
        stroke: 0;
        -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
        clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
        @include animation('expand .7s ease-in forwards 2.7s');
      }
    }
  }

  &_minimize {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;

    svg {
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;

      rect {
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
        clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
        @include animation('scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s');
      }
    }
  }
}

@include keyframes(scale) {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}

@include keyframes(hide) {
  100% {
    fill: transparent;
  }
}

@include keyframes (off) {
  100% {
    opacity: 0;
  }
}

@include keyframes (on) {
  100% {
    opacity: 1;
  }
}

@include keyframes (logo) {
  100% {
    color: $black;
  }
}

@include keyframes (type) {
  0% {
    width: 0;
  }
}

@include keyframes (type2) {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@include keyframes(expand) {
  0% {}

  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }

  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: $yellow;
  }

  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }

  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: $yellow;
  }
}

//about me css close here


// testimonial css 

.home-testimonial {
  // background-color: #231834;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  height: 100vh;

  @include for-size(md) {
    height: 132vh;

  }

  @include for-size(sm) {
    height: 211vh;
  }

  @media (max-width:375px) {
    height: 230vh;
  }

  .testimonial-header {
    @include for-size(sm) {
      margin-top: 100px;
    }
  }
}

.home-testimonial-bottom {
  // background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px
}

.home-testimonial h3 {
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;

  @include for-size(sm) {
    font-size: 30px;
  }
}

.home-testimonial h2 {
  color: white;
  font-size: 28px;
  font-weight: 700;

  @include for-size(sm) {
    font-size: 20px;
  }
}

.testimonial-inner {
  position: relative;
  top: -174px;

  .tour-item {
    // background-color: white;
    // transition: 0.3s ease-in-out;
    padding: 5px;
    // cursor: pointer;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, .9);
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle),
        transparent,
        transparent 50%,
        transparent),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;

    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }

    &:hover {
      animation-play-state: paused;
    }
  }

  .row {
    @include for-size(md) {
      gap: 20px;
    }
  }
}

.testimonial-pos {
  position: relative;
  top: 24px
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 37px;
  background-color: #0d1d31;
}

.color-grey-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
  font-weight: 600;
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none
}

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: #6c83a2;
  font-weight: 600;
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: #6c83a2;
  font-weight: 600;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


//////////////////
.my-info {
  .card-container {
    // background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -1px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
  }

  .card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    max-width: 100px;
    height: 100px;
  }

  button.primary {
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
  }

  button.primary.ghost {
    background-color: transparent;
    color: #02899C;
  }

  .skills {
    // background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
  }

  .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
  }

}

//animated bg
.animated-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

  overflow: hidden;
}

.animated-bg-color {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  height: 100vh;
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min +floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  $star-count: 50;
  --star-color: hsl(196, 78%, 61%);
  ;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {

  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}


////follow me 

.share {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  bottom: 40px;
  border-radius: 80px;

  @media (max-width:1024px) {
    bottom: 8px;
  }

  @include for-size(sm) {
    bottom: 20px;
  }

  span {
    width: 100%;
    line-height: 80px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    @media (max-width:1024px) {
      line-height: 75px;
    }

    @include for-size(sm) {
      line-height: 75px;
    }
  }

  nav {
    font-size: 0;
  }

  a {
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: $buttonColor;
    color: $buttonColor;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -20px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);

    @media (max-width:1024px) {
      line-height: 72px;
      width: 72px;
    }

    @include for-size(sm) {
      line-height: 72px;
      width: 72px;
    }

    &:nth-child(1) {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      margin-left: 0;

      &:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      }
    }

    &:nth-child(2):hover {
      background-color: $facebook;
    }

    &:nth-child(3) {

      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      margin-right: 0;

      &:hover {
        background-color: $github;
      }
    }
  }

  &:hover,
  &.hover {
    span {
      opacity: 0;
    }

    a {
      border-radius: 50%;
      margin: 0 10px;
      color: $textColor;
      font-size: 28px;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

/// contact css 

.contact-me {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

  @include for-size(sm) {
    height: 110vh;
  }

  @media (max-height:"770px") {
    height: 148vh;
  }

  .contact-header {
    margin-top: 3rem;

    @include for-size(sm) {
      margin-top: 120px;
    }

    h1 {

      font-weight: 600;
      font-size: 72px;
      color: white;
      text-align: center;

      @include for-size(sm) {
        font-size: 40px;
      }
    }
  }



  h4 {

    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
    text-align: center;
  }

  /* ///// inputs /////*/

  input:focus~label,
  textarea:focus~label,
  input:valid~label,
  textarea:valid~label {
    font-size: 0.75em;
    color: #0c0d13;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }

  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;

    .error-msg {
      position: absolute;
      color: red;
    }
  }

  @media only screen and (max-width: 768px) {
    .styled-input {
      width: 100%;
    }
  }

  .styled-input label {
    color: #0c0d13;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }

  input,
  textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    color: #0c0d13;
    border-radius: 4px;
  }

  input:focus,
  textarea:focus {
    outline: 0;
  }

  input:focus~span,
  textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

  textarea {
    width: 100%;
    min-height: 15em;
  }

  .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
  }

  .cssbuttons-io-button {
    background: hsl(196, 78%, 61%);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em hsl(196, 78%, 61%);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }

  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em hsl(196, 78%, 61%);
    right: 0.3em;
    transition: all 0.3s;
  }

  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }

  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: hsl(196, 78%, 61%);
  }

  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }

  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }



  @media (max-width: 768px) {
    .submit-btn {
      width: 100%;
      float: none;
      text-align: center;
    }
  }

  input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
  }

  input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
  }
}

.emailTemplate {
  position: relative;
  height: 100vh;

  .emailContent {
    .buttonDownload {
      display: inline-block;
      position: relative;
      padding: 10px 25px;
      background-color: #0d1d31;
      color: white;
      font-family: sans-serif;
      text-decoration: none;
      font-size: 0.9em;
      text-align: center;
      text-indent: 15px;
      border: none;
     }
     
     .buttonDownload:hover {
      background-color: #0d1d31;
      color: white;
     }
     
     .buttonDownload:before, .buttonDownload:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 15px;
      top: 52%;
     }
     
     .buttonDownload:before {
      width: 10px;
      height: 2px;
      border-style: solid;
      border-width: 0 2px 2px;
     }
     
     .buttonDownload:after {
      width: 0;
      height: 0;
      margin-left: 1px;
      margin-top: -7px;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: transparent;
      border-top-color: inherit;
      animation: downloadArrow 1s linear infinite;
      animation-play-state: paused;
     }
     
     .buttonDownload:hover:before {
      border-color: #cdefbd;
     }
     
     .buttonDownload:hover:after {
      border-top-color: #cdefbd;
      animation-play-state: running;
     }
     
     @keyframes downloadArrow {
      0% {
       margin-top: -7px;
       opacity: 1;
      }
     
      0.001% {
       margin-top: -15px;
       opacity: 0.4;
      }
     
      50% {
       opacity: 1;
      }
     
      100% {
       margin-top: 0;
       opacity: 0.4;
      }
     }
  }

  .emailHeader {
    text-align: center;
    background-color: #0d1d31;
    padding: 20px;

    h1 {
      color: white;
    }
  }

  .emailFooter {
    // height: 100vh;
    text-align: center;
    background-color: #0d1d31;
    padding: 20px;

    .footerContent {
      p {
        color: white;
      }

      .socialLink {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
    }
  }
}